@charset "UTF-8";
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  background-color: #fff;
  padding: 1em;
}

.title-wrapper {
  background: #fff;
  grid-column: 1/span 4;
  grid-row: 1;
  display: flex;
  flex-flow: row;
  display: grid;
  grid-template-columns: 12rem auto 19rem;
  position: sticky;
  top: 3.5rem;
  transition: 0.2s;
}
.title-wrapper .back {
  grid-column: 1/span 1;
  font-size: 0.9em;
}
.title-wrapper .back svg {
  margin-right: 1rem;
}
.title-wrapper img {
  width: 100%;
  max-height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 1em;
}
.title-wrapper .title {
  grid-column: 1/span 4;
  padding: 0 1em;
}
@media only screen and (min-width: 60.25em) {
  .title-wrapper .title {
    grid-column: 2/span 1;
  }
}
.title-wrapper .title p {
  font-size: 0.8em;
}
.title-wrapper .title .affiliation {
  font-style: italic;
}
.title-wrapper .cta-wrapper {
  grid-column: 2/span 2;
  grid-row: 1;
  width: 25%;
}
@media only screen and (min-width: 60.25em) {
  .title-wrapper .cta-wrapper {
    grid-column: 3/span 1;
    grid-row: 1;
  }
}
.title-wrapper .cta-wrapper .views {
  font-style: italic;
  font-size: 0.85em;
  text-align: center;
  margin: 0.5em 0;
}
.title-wrapper .cta-wrapper .cta-buttons {
  text-align: center;
}
.title-wrapper .cta-wrapper .cta-buttons p {
  display: inline-block;
  margin: 0;
}

.isSticky {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  padding-top: 2em;
  z-index: 10;
}
.isSticky h2 {
  font-size: 1.7rem;
}
.isSticky .orgs,
.isSticky .usage {
  display: none;
}
.isSticky img {
  max-height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 0.5em;
}

.content-top {
  grid-column: 1/span 4;
  grid-row: 2;
  display: flex;
  flex-flow: row;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
@media only screen and (min-width: 60.25em) {
  .content-top {
    grid-template-columns: 12rem auto 19rem;
    grid-template-rows: auto;
  }
}
.content-top .image-wrapper {
  grid-column: 1/span 1;
  grid-row: 2;
  flex-flow: column;
  padding: 1em;
  width: 20%;
}
@media only screen and (min-width: 60.25em) {
  .content-top .image-wrapper {
    grid-column: 1/span 1;
    grid-row: 1;
  }
}
.content-top .image-wrapper img {
  width: 100%;
  max-height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-top .image-wrapper .share .fa {
  margin-right: 0.2em;
}
.content-top .image-wrapper .share .icon-collect:before {
  content: "";
  font-family: "Fontcons";
}
.content-top .image-wrapper .share a {
  margin: 0.5em 0;
}
.content-top .abstract-wrapper {
  grid-column: 1/span 2;
  grid-row: 1;
  width: 60%;
  padding: 1em;
}
@media only screen and (min-width: 60.25em) {
  .content-top .abstract-wrapper {
    grid-column: 2/span 1;
  }
}
.content-top .abstract-wrapper .meta-top {
  font-size: 0.8em;
}
.content-top .abstract-wrapper .meta-top img {
  width: 5rem;
}
.content-top .abstract-wrapper .tags h4 {
  font-size: 1rem;
}
.content-top .abstract-wrapper .high-level-tag-wrapper {
  margin-top: 1em;
}
.content-top .abstract-wrapper .high-level-tag-wrapper .high-level-tag {
  display: inline-block;
  font-size: 0.9rem;
  background-color: #222b37;
  color: #fff;
  padding: 3px 6px;
  border-radius: 3px;
  border: 1px solid #222b37;
  transition: 0.2s ease;
}
.content-top .abstract-wrapper .high-level-tag-wrapper .high-level-tag:hover {
  color: #222b37;
  background-color: #fff;
}
.content-top .abstract-wrapper .high-level-tag-wrapper .secondary {
  background-color: #fff;
  color: #222b37;
}
.content-top .abstract-wrapper .high-level-tag-wrapper .secondary:hover {
  color: #fff;
  background-color: #222b37;
}
.content-top .files-wrapper {
  grid-column: 2/span 1;
  border-left: 1px solid #c1c1c1;
  width: 25%;
}
@media only screen and (min-width: 60.25em) {
  .content-top .files-wrapper {
    grid-column: 3/span 1;
    grid-row: 1;
  }
}
.content-top .files-wrapper .files {
  padding: 1em;
}
.content-top .files-wrapper .element-list {
  height: 6.5rem;
  overflow: hidden;
}
.content-top .files-wrapper ul {
  list-style-type: none;
  margin: 0 0 0 1em;
}
.content-top .files-wrapper ul li {
  max-width: 12.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-top .files-wrapper ul li img {
  margin-right: 0.2em;
}
.content-top .files-wrapper .more-files {
  margin: 0.5em;
  text-align: center;
}

.content-bottom {
  grid-column: 1/span 4;
  grid-row: 3;
  display: flex;
  flex-flow: row;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  border-top: 1px solid #c1c1c1;
  margin: 1em 0;
}
@media only screen and (min-width: 60.25em) {
  .content-bottom {
    grid-template-columns: 19rem auto;
    grid-template-rows: auto;
  }
}
.content-bottom .content-wrapper {
  display: flex;
  flex-flow: row;
  grid-row: 2;
  background-color: #fff;
  width: 60%;
}
@media only screen and (min-width: 60.25em) {
  .content-bottom .content-wrapper {
    grid-column: 2/span 1;
    grid-row: 1;
  }
}
.content-bottom .content-display {
  padding: 1em;
}
.content-bottom .content-menu {
  grid-row: 1;
  width: 25%;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  margin-top: 1em;
}
@media only screen and (min-width: 60.25em) {
  .content-bottom .content-menu {
    grid-column: 1/span 1;
    grid-row: 1;
  }
}
.content-bottom .content-menu nav {
  position: sticky;
  top: 9rem;
}
.content-bottom .content-menu ul {
  list-style-type: none;
  margin: 0 2em;
}
.content-bottom .content-menu ul li {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 0.5em;
}
.content-bottom .content-menu ul li .active {
  font-weight: bold;
}
.content-bottom .content-menu ul li .active:hover {
  margin-left: 1em;
}
.content-bottom .content-menu ul li .fc-caret-right svg {
  fill: #393c3d;
  height: 0.9rem;
}
.content-bottom .content-menu ul li a {
  color: #393c3d;
  margin-left: 1em;
  transition: 0.2s ease;
}
.content-bottom .content-menu ul li a:hover {
  margin-left: 1.5em;
}

@supports (display: grid) {
  .title-wrapper .cta-wrapper {
    width: auto;
  }

  .content-top .image-wrapper {
    width: auto;
  }
  .content-top .abstract-wrapper {
    width: auto;
  }
  .content-top .files-wrapper {
    width: auto;
  }

  .content-bottom .content-wrapper {
    width: auto;
  }
  .content-bottom .content-wrapper .content-display {
    width: auto;
  }
  .content-bottom .content-menu {
    width: auto;
  }
}/*# sourceMappingURL=publications.css.map */